<!-- Bottom Nav -->

<!--
File Name - bottom_nav.ejs
Student Name - Bhavitha Penaka
Student ID - 301211147
Date - 21-10-2022
-->
  <footer>
    <nav class="navbar fixed-bottom navbar-light ">
      <h6 class="display-6 navbar-text">&copy; Copyright 2021. All Rights reserved.</h6>
    </nav>
  </footer>