
<!--
File Name - about.ejs
Student Name - Bhavitha Penaka
Student ID - 301211147
Date - 30-09-2022
-->


<%- include partials/header.ejs %>
  <%- include partials/main_nav.ejs %>


        <style>
            body {
                background-image: url('Assets/images/background.jpg');
                background-size: cover;
            }
        </style>
      
        <h1><img src="Assets/images/bhavitha.jpg" align="right" width="200" height="300"></h1>

        <div class="aboutHead" text-center>
            <h1>About Me </h1>
        </div>

        <section id="about" class="s-about target-section">


            <div class="row narrow section-intro has-bottom-sep">
                <div class="col-full text-center">
                    <p class="lead" style="font-size:25px">&#8287 &#8287 &#8287 &#8287 &#8287 &#8287 I am Bhavitha Penaka
                     , Certified AWS Cloud Practitioner & <br> a Microsoft Certified Professional </p><br>
                </div>
            </div>

            <div class="row about-content">

                <div class="col-six tab-full left">
                    <h3>Hello!</h3>

                    <p style="font-size:18px;font-family:verdana">I am a Software Engineering graduate pursuing
                        Software Engineering technology Fastrack course at
                        Centennial College. </p>

                    <p style="font-size:18px;font-family:verdana">
                       I am Bhavitha Penaka, I like to learn and work more on the programming.
                        </p>
                </div>

                <div class="col-six tab-full right">
                    <div class="workHead tab-full right">
                        <h1>&#8287&#8287&#8287&#8287Work Experience</h1><br>
                    </div>

                    <section id="about" class="s-about target-section">
                        <div class="row about-content about-content--timeline">
                            <div class="timeline">
                                <div class="timeline__block">
                                    <div class="timeline__bullet"></div>
                                    <div class="timeline__header">
                                        <p class="timeline__timeframe">Jun 2018 - Sep 2019</p>
                                        <h3>Deloitte</h3>
                                        <h5>-Dotnet Developer</h5>
                                    </div>
                                    <div class="timeline__desc">
                                    </div>
                                </div>
                                <div class="timeline__block">
                                    <div class="timeline__bullet"></div>
                                    <div class="timeline__header">
                                        <p class="timeline__timeframe">Oct 2019 - May 2021</p>
                                        <h3>IBM</h3>
                                        <h5>-Dotnet Developer</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div> <!-- end about-content -->

            <div class="row about-content about-content--buttons">

                <div class="col-six tab-full left">
                    <a href="Assets/files/Updated Resume - Bhavita.jpg"
                        class="btn btn--primary full-width">Download My CV</a>
                </div>
                <div class="col-six tab-full right">
                    <a href="mailto:bhavitha.penaka322@gmail.com?Subject=Job%20Opportunity" class="btn full-width">Hire Me
                        Now</a>
                </div>

            </div> <!-- end about-content buttons -->



        </section> <!-- end about -->

        <%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
