<!--
File Name - homePg.ejs
Student Name - Bhavitha Penaka
Student ID - 301211147
Date - 30-09-2022
-->

<%- include partials/header.ejs %>
  <%- include partials/main_nav.ejs %>

    <blockquote class="blockquote text-center">
      <p class="mb-0">"Opportunities don't happen, you create them"</p>
      <footer class="blockquote-footer">Chris Grosser </footer>
    </blockquote>

    <style>
      body {
        background-image: url('Assets/images/home.jpg');
        background-size: cover;
      }
    </style>

    <p class="header">
      <span>Hello!! </span><br>
      <span>&#8287 &#8287 I</span>
      <span>Am</span>
      <span>Bhavitha</span><br>
      <span>&#8287 &#8287 &#8287 &#8287 &#8287Welcome</span>
      <span>to</span>
      <span>my</span>
      <span>Portfolio</span>
    </p>

    </html>
    <%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
