
<!--
File Name - projects.ejs
Student Name - Bhavitha Penaka
Student ID - 301211147
Date - 21-10-2022
-->
<%- include partials/header.ejs %>
  <%- include partials/main_nav.ejs %>

    <style>
      body {
        background-image: url('Assets/images/background.jpg');
        background-size: cover;
      }
    </style>

    <div class="projectHead" text-center>
      <br>
      <h1>Projects</h1>
    </div>

    <h3>&nbspPlease find some of the projects I have worked on; </h3>

    <section id="about" class="s-about target-section">
      <div class="row about-content">

        <div class="col-six tab-full left">
          <h3 style="font-size:17px;font-family:verdana"><b>1) United parcel Application</b>
          </h3>
          <p style="font-size:17px;font-family:verdana">
            <b>Description:</b>
          </p>
          <p style="font-size:16px;font-family:verdana">
            In a team of 20, we designed one web based application which will providing courier services throughout the world
            We have used dotnet in the backend and java script in the front end. 
          </p>
          <p style="font-size:17px;font-family:verdana">
            <b>Role:</b>
          </p>
          <p style="font-size:16px;font-family:verdana">
            Design frontend using Java Script and also managed some database part using SQL.
          </p>
          <p style="font-size:17px;font-family:verdana">
            <b>Outcome:</b>
          </p>
          <p style="font-size:16px;font-family:verdana">
            From this project, I have learnt dotnet and able to solve the bugs. Next, the flow from the frontend to the backend
          </p>
        </div>

        <div class="col-six tab-full right">
          <div class="workHead tab-full right">
            <h1><img src="Assets/images/UPS-logo.png" width="600" height="300"></h1>
            <p style="font-size:21px;"><b>1) United parcel Application</b></p>
          </div>

        </div>

        <div class="col-six tab-full left">
          <br>
          <h3 style="font-size:17px;font-family:verdana"><b>2) Colorado </b></h3>
          <p style="font-size:17px;font-family:verdana">
            <b>Description:</b>
          </p>
          <p style="font-size:16px;font-family:verdana">
            This project is providing services to the people who lost their employment. The Colorado government is providing funds on weekly bases
            who lost their to few reasons like covid, health problem. In this we have used WCF application with javascript as a frontend
          </p>
          <p style="font-size:17px;font-family:verdana">
            <b>Role:</b>
          </p>
          <p style="font-size:16px;font-family:verdana">
            Involved in design, development and testing (using JUnits & Mockito) for this project
          </p>
          <p style="font-size:17px;font-family:verdana">
            <b>Outcome:</b>
          </p>
          <p style="font-size:16px;font-family:verdana">
            This project has helped me in learning full stack technologies and some new concepts such as Javascript, WCF,
            Web Tokens and AWS.Next, I got knowledge on C# Dotnet 8 while developing this project.
          </p><br>
        </div>

        <div class="col-six tab-full right">
          <div class="workHead tab-full right">
            <br>
            <h1><img src="Assets/images/colorado-logo.webp" width="600" height="300"></h1>
            <p style="font-size:21px;"><b>2) Colorado</b></p>
          </div>

        </div>

        <div class="col-six tab-full left">

          <h3 style="font-size:17px;font-family:verdana"><b>3) XML Validation Tool</b></h3>
          <p style="font-size:17px;font-family:verdana">
            <b>Description:</b>
          </p>
          <p style="font-size:16px;font-family:verdana">
           This solution was created from the base and was able to validate hundreds of XML files in about two to three minutes.
            This programme was created by me after realising the challenges that individuals, particularly manual testers, experience.            
          </p>
          <p style="font-size:17px;font-family:verdana">
            <b>Role:</b>
          </p>
          <p style="font-size:16px;font-family:verdana">
            Involved in design, development and testing (using JUnits) for this project.
          </p>
          <p style="font-size:17px;font-family:verdana">
            <b>Outcome:</b>
          </p>
          <p style="font-size:16px;font-family:verdana">
            This project has helped multiple manual testers to minimize their time while testing XML's.
          </p><br>
        </div>

        <div class="col-six tab-full right">
          <div class="workHead tab-full right">
            <br>
            <h1><img src="Assets/images/project3.jpg" width="600" height="300"></h1>
            <p style="font-size:21px;"><b>3) XML Validation Tool</b></p>
          </div>

        </div>

      </div> 




    </section> 

    <%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
    
    