.col-six, .col-1-2 {
    width: 50%;
}

.col-twelve, .col-full {
    width: 100%;
}

.aboutHead{
   font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;   
   text-align: center;
   text-transform: uppercase;
   text-rendering: optimizeLegibility; 
   
   text-shadow: 4px 4px 0px #928f8d, 7px 7px 0px rgba(0, 0, 0, 0.2);
}
.workheader{  
   width: 300px;
   padding-left: 10rem;
}
.timeline__block {
    position: relative;
    padding-left: 5rem;
    min-height: 10.8rem;
}

.timeline__bullet {
    background: #2e6081;
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    margin-left: 4rem;
    box-shadow: 0 0 0 2px #080808;
    position: absolute;
    left: -0.9rem;
    top: .6rem;
}

.timeline__header .timeline__timeframe {
    font-size: 1.5rem;
    line-height: 1.5;
    left: -0.9rem;
    text-transform: uppercase;
    letter-spacing: .15rem;
    color: rgba(14, 13, 13, 0.5);
    margin-bottom: .9rem;
    font-family: "montserrat-bold", sans-serif;
}
/* ===================================================================
 * # buttons - (_buttons.scss)
 *
 * ------------------------------------------------------------------- */

 .btn, button, 
 input[type="submit"], 
 input[type="button"] {

     color: #faf8f8;
     text-decoration: none;
     cursor: pointer;
     text-align: center;    
     transition: all 0.3s ease-in-out;
     background-color: #070707;
     
 }
 
 .btn:hover, button:hover, 
 input[type="submit"]:hover, 
 input[type="button"]:hover, 
 .btn:focus, button:focus, 
 input[type="submit"]:focus, 
 input[type="button"]:focus {
    background: #505152;
     color: #faf6f6;
     border-color: #0D0A0B;
     outline: 0;
    
 }
 
 .btn.btn--primary, 
 button.btn--primary, 
 input[type="submit"].btn--primary, 
 input[type="button"].btn--primary {
     
     background: #0D0A0B;
     border-color: #0D0A0B;
     color: #FFFFFF;
     
 }
 
 .btn.btn--primary:hover, 
 button.btn--primary:hover, 
 input[type="submit"].btn--primary:hover, 
 input[type="button"].btn--primary:hover, 
 .btn.btn--primary:focus, 
 button.btn--primary:focus, 
 input[type="submit"].btn--primary:focus, 
 input[type="button"].btn--primary:focus {
     
     background: #505152;
     
 }
 
 .btn.full-width, button.full-width {
     width: 30%;
     margin-left: 3;
     
 }
