.projectHead{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;   
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility; 
    text-shadow: 4px 4px 0px #928f8d, 7px 7px 0px rgba(0, 0, 0, 0.2);
 }
 .col-six, .col-1-2 {
    width: 50%;
    padding-left: 2rem;
    size: 2rem;
}
